<nav class="navbar navbar-deafult" role="navigation">
  <div class="container-fluid">
  
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/project/new">Create Project</a></li>
    <li><a href="/project/view">View Projects</a></li>
    <li><a href="#">My Account</a></li>
    <li><a href="/log/out">Log out</a></li>
  </ul>
  </div>
</nav>
<br>
<div class="msg">
	 <% if(locals.msg != null ) { %>
	 	<label style="margin-left: 1cm; color: red">Error: <%= msg %></label>
	 <% } %>
</div>


