<nav class="navbar navbar-deafult" role="navigation">
  <div class="container-fluid">
  
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/project/new">Create Project</a></li>
    <li><a href="/project/view">View Projects</a></li>
    <li><a href="/log/out">Log out</a></li>
  </ul>
  </div>
</nav>
<br>
<div class="msg">
	 <% if(locals.msg != null ) { %>
    <div class="text-center"> 
	 	<label style="color: red;"><%= msg %></label>
    </div>
	 <% } %>
</div>


