<div>
<nav class="navbar navbar-deafult" role="navigation">
	<div class="container-fluid">
	<h1><%= title =%>
	<ul class="nav navbar-nav">
		<li><a href="/">Home</a></li>
		<li><a href="index.ejs">Create Project<a></li>
		<li><a href="projects.ejs">View Projects</a></li>
		<li><a href="account.ejs">My Account</a></li>
	</ul>
	</div>
</nav>
<div class="msg">
	<span><p><%= msg %></p></span>
</div>


