  <!DOCTYPE html>
<html>
  <head>

    <% include ./Partials/head %>
  </head>
  <body>
  <style>
    header{
      background-color: lightblue;
    height: 80px;
  }

    .container{
      margin-left: 9.5cm;
      margin-top: 1cm;
    }
  </style>
  <header>
      <% include ./Partials/header %>

  </header>
  	<h1 class="text-center">Forgot Password</h1>
  	<form class="form-horizontal" name="submit" method="POST" action = "/log/forgot">

    <div class="container"L>
    <div class="form-group">
      <label class="col-sm-2 control-label">Email</label>
      <div class="col-sm-10">
  		
  			<input type="text" style="width: 200px;" class="form-control" id="email" name="email" id = "email" placeholder="Email"/><br>
  			<input class="btn btn-primary" type="submit" value = "Submit">
  		</div>
      </div>
    </div>
  	</form>
  </body>
  </html>