<!DOCTYPE html>
<html>
  <head>
    <% include ../Partials/head.ejs %>
  </head>
  <body>
  <header>
      <% include ../Partials/header.ejs %>

  </header>
  	<center><h1>Forgot Password</h1></center>
  	<form class="form-horizontal" name="submit">
  		<div id="forgotPasswordForm" class="form-group">
  			<input type="text" class="form-control" id="email" name="email" id = "email" placeholder="Email"/><br>
  			<a href="login.ejs" class="btn btn-primary btn-lg active" role="button">Submit</a><br>
  		</div>
  	</form>
  </body>
  </html>