<!DOCTYPE html>
<html>
  <head>
    <% include ../Partials/head.ejs %>
  </head>
  <body>
  <header>
      <% include ../Partials/header.ejs %>

  </header>
  <center><h1>Submit Work</h1></center>
  <form method = "post" enctype="multipart/form-data" name="submit">
  	<input type="file" name="workFileName" id="workFileName">
  	<a href="confirmation.ejs" class="btn btn-primary btn-lg active" role="button">Submit Submission</a>
  	<a href="viewProjects.ejs" class="btn btn-default btn-lg active" role="button">Cancel</a>
  </form>
  </body>
  </html>